<%= javascript_tag do %>
  window._awsAccessId = "<%= ENV['AWS_ACCESS_KEY_ID'] %>"
  window._awsSecretKey = "<%= ENV['AWS_SECRET_ACCESS_KEY'] %>"
<% end %>

<div id="status"></div>
<ul id="objects"></ul>


<h1>Let's Get Weird</h1>

<button id="start">Start</button>

<%= @buckets %>
<br>

<%= @sounds %>

<div class="content=wrapper">
  <div class="suite-wrapper">
    <div class="column" id="column1">
      <div class="note"></div>
      <div class="note"></div>
      <div class="note"></div>
      <div class="note"></div>
    </div>
    <div class="column" id="column2">
      <div class="note"></div>
      <div class="note"></div>
      <div class="note"></div>
      <div class="note"></div>
    </div>
    <div class="column" id="column3">
      <div class="note"></div>
      <div class="note"></div>
      <div class="note"></div>
      <div class="note"></div>
    </div>
    <div class="column" id="column4">
      <div class="note"></div>
      <div class="note"></div>
      <div class="note"></div>
      <div class="note"></div>
    </div>
  </div>
</div>