<!DOCTYPE html>
<html>
<head>
  <title>JSequencr</title>
  <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <!-- For the JQuery UI Slider -->
  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"> -->
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="page-wrapper">
    <div class="page-overlay">
      <div class="exit-button">X</div>
      <div class="all-sounds">
        <ul></ul>
      </div>
    </div>
    <img src="http://i656.photobucket.com/albums/uu285/dixiepixie47/Disney%20Cartoons/Unicorn-psd31001.png" class="unicorn"/>
    <header id="nav-bar"></header>
    <%= yield %>
    <%= javascript_include_tag "http://cdn.craig.is/js/mousetrap/mousetrap.min.js?9d308" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </div>

  <% if logged_in? %>
    <script type="text/javascript">
        JSequencr.currentUserId = <%= current_user.id %>;
    </script>

  <% end %>
</body>
</html>
