<!DOCTYPE html>
<html>
<head>
  <title>JSequencr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-wrapper">
    <div class="page-overlay">
      <div class="exit-button">X</div>
      <div class="all-sounds">
        <ul></ul>
      </div>
    </div>
    <header id="nav-bar"></header>
    <%= current_user %>
    <%= yield %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </div>
  <script type="text/javascript">
    if(<%= logged_in? %>){
      // removeSignupForm();
    };
  </script>
</body>
</html>
