<!DOCTYPE html>
<html>
<head>
  <title>JSequencr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
</head>
<header id="nav-bar">


</header>
<body>
<%= current_user %>
<%= yield %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<script type="text/javascript">
  createUserForm();
  createLoginForm();
  if(<%= logged_in? %>){
    loginForm.remove();
    signUpForm.remove();
  };
</script>
</body>
</html>
