<!DOCTYPE html>
<html>
<head>
  <title>JSequencr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <!-- For the JQuery UI Slider -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

<!--    // <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script> -->
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-wrapper">
    <div class="page-overlay">
      <div class="exit-button">X</div>
      <div class="all-sounds">
        <ul></ul>
      </div>
    </div>
    <header id="nav-bar"></header>
    <%= current_user %>
    <%= yield %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </div>
<<<<<<< HEAD
  <header id="nav-bar"></header>
  
  <%= yield %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <% if logged_in? %>
    <script type="text/javascript">
        JSequencr.currentUserId = <%= current_user.id %>;
    </script>
  <% end %>
=======
  <script type="text/javascript">
    if(<%= logged_in? %>){
      // removeSignupForm();
    };
  </script>
>>>>>>> 697e016e9936462bbbb50f448eed87e9690cd932
</body>
</html>
